{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <img src="{{ asset('images/bitchest_logo.png') }}"/>

<div class="example-wrapper">
    {% if app.user %}

        {% if is_granted('ROLE_ADMIN') %}
            <h1>Bienvenue Admin</h1>
        {% else %}
            <h1>Bienvenue Cher Client</h1>
        {% endif %}

    {% endif %}

</div>
{% endblock %}
